#teste {
    display: flex;
    gap: 10px; /* <-- Aqui está o espaço entre os quadrados */
}

#item{
    display: flex;
    width: 80px;
    height: 80px;
    align-items: center;
    justify-content: space-around;
    background-color: aqua;
    cursor: pointer;
}

#item:hover {
    background-color: blue;
}

@media (max-width: 400px){
    body{ 
        background-color: blueviolet;
    }


}